POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=clickstream
POSTGRES_USER=clickstream_user
POSTGRES_PASSWORD=clickstream_pass

CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=clickstream
CLICKHOUSE_USER=clickstream_user
CLICKHOUSE_PASSWORD=clickstream_pass
